body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile {
    margin-bottom: 30px;
    text-align: center;
}

    .profile img {
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .profile h2 {
        text-align: center;
        margin-top: 20px;
        color: #333;
    }

    .profile p {
        text-align: justify;
        margin: 10px 0;
        color: #666;
    }

.container h1, .container h2 {
    color: #333;
}
