.center {
    overflow: hidden;
    background-color: #333; /* Updated background color */
}

    .center a {
        float: left;
        display: block;
        color: lightgray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
    }

        .center a:hover {
            background-color: #555;
            color: black;
        }

        .center a.active {
            background-color: black;
            color: white;
        }

    .center .icon {
        display: none;
    }
    .heading {
        text-align: center;
        color: #333; /* Updated font color */
    }
    
    /* Logo */
    .logo {
        text-align: center;
        padding-top: 20px;
       
    }
    
    /* Responsive icon */
    .icon {
        display: none;
    }
   
    
    @media only screen and (max-width: 768px) {
        .center a {
            display: block;
            margin: 10px 0;
        }
    
        .icon {
            display: inline-block;
        }
    }
    @media screen and (max-width: 950px) {
        .center a:not(:first-child) {
            display: none;
        }
    
        .center a.icon {
            float: right;
            display: block;
        }
    }
    
    @media screen and (max-width: 950px) {
        .center.responsive {
            position: relative;
        }
    
            .center.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }
    
            .center.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
    }